{
  "parser": "babel-eslint",
  "rules": {
    "indent": 0,
    "quotes": 0,
    "linebreak-style": 0,
    "semi": [2, "always"],
    "wrap-iife": [2, "outside"],
    "no-console": 0,
    "strict": [2, "global"]
  },
  "env": {
    "node":     true,
    "browser":  true,
    "es6": true
  },
  "plugins": [],
  "extends": ["eslint:recommended"],
  "globals": {
  }
}
